{% macro about() %}
<div class="user-details">
    <h1> My Expertise </h1>
    <p> {{ config.extra.user_description }} </p>
</div>

<div class="user">
    <div class="tech">
        <h2>Code</h2>
        <i class="devicon-rust-original colored"></i>
        <i class="devicon-python-plain-wordmark"></i>
        <i class="devicon-java-plain-wordmark colored"></i>
        <i class="devicon-clojure-plain colored"></i>
        <ul>
            <li>Rust developer since pre-1.0. See <a class="link" href="#projects" data-scroll>Projects</a> for examples and talks.</li>
            <li>Technical lead implementing reliable <a class="link" href="https://docs.mulesoft.com/mule-runtime/latest/xa-transactions">XA transactions</a> for the <a class="link" href="https://www.atlassian.com/blog/archives/and_it_came_to_pass$">Atlassian HAMS ordering system</a>.</li>
            <li>Senior Clojure developer on the Confluence collaborative editor product.</li>
        </ul>
    </div>
    <div class="tech">
        <h2>Tools</h2>
        <i class="devicon-git-plain colored"></i>
        <i class="devicon-bitbucket-original-wordmark colored"></i>
        <i class="devicon-github-original colored"></i>
        <i class="devicon-linux-plain"></i>
        <ul>
            <li>Git educator and speaker. See <a class="link" href="#projects" data-scroll>Projects</a> for examples and talks.</li>
            <li>Experienced Linux user and systems administrator, including in related technologies such as Docker and Kubernetes.</li>
        </ul>
    </div>
</div>

<div class="user">
    <div class="tech">
        <h2>Continous Deployment</h2>
        <i class="devicon-bamboo-original-wordmark colored"></i>
        <i class="devicon-ansible-plain-wordmark colored"></i>
        <i class="devicon-githubactions-plain colored"></i>
        <ul>
            <li>Technical lead in multiple Atlassian CI/CD projects. See <a class="link" href="https://www.infoq.com/news/2015/06/Steve-Smith-Continuous-Delivery/">this interview in InfoQ</a>, and <a class="link" href="#projects" data-scroll>Projects</a> for examples and talks.</li>
            <li>Conceived and led multiple projects to <a class="link" href="https://community.atlassian.com/t5/Data-Center-articles/We-have-Ansible-playbooks-are-you-interested/ba-p/1580483">convert legacy deployment tools to Ansible</a>.</li>
        </ul>
    </div>
    <div class="tech">
        <h2>Cloud Infrastructure</h2>
        <i class="devicon-docker-plain colored"></i>
        <i class="devicon-kubernetes-plain-wordmark colored"></i>
        <i class="devicon-helm-original colored"></i>
        <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
        <ul>
            <li>Technical lead on the project to produce production-ready <a class="link" href="https://bitbucket.org/atlassian-docker/workspace/repositories/">Docker images for Atlassian products</a>.</li>
            <li>Senior developer on Atlassian product Kubernetes/Helm conversion.</li>
            <li>Feature lead for multiple <a class="link" href="https://atlassian.github.io/data-center-helm-charts/">Atlassian product Helm charts</a>.</li>
        </ul>
    </div>
</div>
{% endmacro about %}

{% macro projects() %}
<div class="user-details">
    <h1>Featured Projects & Talks</h1>
</div>

<div class="user-projects">
    <div class="images-right">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zfb1y8yn8QI" title="Understanding Rust – Or How to Stop Worrying &amp; Love the Borrow-Checker • Steve Smith • YOW! 2024" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="contents">
        <h3>Understanding Rust</h3>
        <p>I was invited by the YOW! program committee to speak on the 2024 YOW! Australia tour.</p>
        <blockquote>
            Rust can be very welcoming, but it expects you to abide by a few rules that other languages regard as optional. In this talk Steve Smith will take you through some of these core rules and why they exist, drawing comparisons to existing programming techniques such as garbage collection and resource management. He will also introduce some of the tools that Rust gives you to work with its rules rather than against them, produce more elegant code, and learn to love the borrow-checker.
        </blockquote>
        <a class="project-link" href="https://yowcon.com/sydney-2024/sessions/3480/understanding-rust-or-how-i-learned-to-stop-worrying-and-love-the-borrow-checker" target="_blank">Check it out</a>
    </div>
</div>

<div class="user-projects">
    <div class="images-right">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fHLcZGi3yMQ?si=8XU2jcLwtIvU-l5m" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>    </div>
    <div class="contents">
        <h3>Getting out of Trouble by Understanding Git</h3>
        <p>I was invited by the GOTO program committee to speak at GOTO Amsterdam 2019</p>
        <blockquote>
            At its core Git consists of a few simple concepts that, when understood, make it a much more intuitive tool and enables powerful workflows. This talk introduces these core Git concepts and uses them to clarify some examples of seemingly counterintuitive behaviour. It also introduces some of Git's less-known features and tricks that are useful to have in your toolbox.
        </blockquote>
        <a class="project-link" href="https://gotopia.tech/sessions/804/knowledge-is-power-getting-out-of-trouble-by-understanding-git" target="_blank">Check it out</a>
    </div>
</div>

<div class="user-projects">
    <div class="images-right">
        <img alt="XCP code snippet" src="{{ config.base_url ~ "/img/xcp-snippet.png" }}" />
    </div>
        <div class="contents">
        <h3>xcp</h3>
        <p>
            xcp is a modern partial clone of the Unix cp command in Rust. It is optimised for modern OS filesystems and hardware, and allows experimental features via a pluggable driver architecture, while ensuring reliability by utilising best-practises in functional testing.
        </p>
        <a class="project-link" href="https://github.com/tarka/xcp" target="_blank">Check it out</a>
    </div>
</div>

<div class="user-projects">
    <div class="images-right">
        <a href="https://haltcondition.net/yow-rust-2024/" target="_blank">
            <img alt="YOW 2024 Rust Talk Slide" src="{{ config.base_url ~ "/img/yow-rust-presentation.png" }}" />
        </a>
    </div>
    <div class="contents">
        <h3>Understanding Rust; or how I learned to stop worrying and love the borrow-checker</h3>
        <p>I was invited by the Yow! program committee to speak at the 2024 conferences in Melboure, Brisbane and Sydney.</p>
        <blockquote>
            Rust expects you to abide by a few rules that other languages regard as optional.
            In this talk Steve Smith will take you through what these core rules are and why they exist, drawing comparisons
            to existing programming techniques such as garbage collection and resource management. He will also introduce
            some of the tools that Rust gives you to work with its rules rather than against them, produce more elegant code,
            and emerge at the end a better programmer.
        </blockquote>
        <a class="project-link" href="https://haltcondition.net/yow-rust-2024/" target="_blank">Check it out</a>
    </div>
</div>

<div class="user-projects">
    <div class="images-right">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/U4vTuH9OQak?si=rPiTy7rhSLWiVn3z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="contents">
        <h3>Continuous deployment for a billion dollar order system</h3>
        <blockquote>
            Steve Smith lead the team that converted the company's critical order-processing system from a monolithic,
            single-server application to a continuously-deployed, high-availablity platform. Along the way there were a
            lot of practical and organizational issues that needed to be addressed in adopting this development model.
            This talk covers continuous deployment from a number of different angles; high-availability requirements,
            development processes, practical delivery technologies, and organisational considerations and bottlenecks
            (e.g. SOX/PCI compliance issues).
        </blockquote>
        <p>There is a companion <a class="link" href="https://www.infoq.com/news/2015/06/Steve-Smith-Continuous-Delivery/">interview in InfoQ</a> expanding on a number of these topics.</p>
        <a class="project-link" href="https://yowcon.com/melbourne-2024/sessions/3478/understanding-rust-or-how-i-learned-to-stop-worrying-and-love-the-borrow-checker" target="_blank">Check it out</a>
    </div>
</div>

{% endmacro projects %}

